In [4]:
print("Hi")

Hi

In [5]:
x=int(input("Enter the number: "))
y=3*x+9
print("result is: ",y)

Enter the number: 5
result is:  24

In [6]:
x=int(input("Enter the number x: "))
y=int(input("Enter the number y: "))
z=int(input("Enter the number z: "))
a=(((x**4)+(y**3)-9)/z)
print("Result is: ", a)

Enter the number x: 5
Enter the number y: 5
Enter the number z: 5
Result is:  148.2

In [7]:
import math

In [8]:
x=int(input("Enter the number x: "))
y=int(input("Enter the number y: "))
z=int(input("Enter the number z: "))
a=math.sqrt(((x**5)+(y**4)-8)/z)
print("Result is: ",a)

Enter the number x: 5
Enter the number y: 5
Enter the number z: 5
Result is:  27.35690040922034

In [9]:
x=int(input("Enter the number x: "))
y=int(input("Enter the number y: "))
z=int(input("Enter the number z: "))
a=math.sqrt(((x**5)+(y**4)-3)/(z**2))
print("Result is: ",a)

Enter the number x: 5
Enter the number y: 5
Enter the number z: 5
Result is:  12.242548754242312

In [10]:
#Finding the greatest number from given 3 numbers
#Nested if else

a = int(input("Enter the 1st number: "))
b = int(input("Enter the 2nd number: "))
c = int(input("Enter the 3rd number: "))

if a>b:
    if a>c:
        print("Greatest number is: ",a)
            
    else:
        print("Greatest number is: ",c)
            
elif b>a:
    if b>c:
        print("Greatest number is: ",b)
            
    else:
        print("Greatest number is: ",c)

Enter the 1st number: 5
Enter the 2nd number: 5
Enter the 3rd number: 5

In [11]:
#Finding the greatest number from given 3 numbers
#Nested if else

a = int(input("Enter the 1st number: "))
b = int(input("Enter the 2nd number: "))
c = int(input("Enter the 3rd number: "))

if a>b:
    if a>c:
        print("Greatest number: ",a)
        
    else:
        print("Greatest number: ",c)
        
elif b>a:
    if b>c:
        print("Greatest number: ",b)
        
    else:
        print("Greatest number: ",c)
         
else: print("Greatest number: ",c)

Enter the 1st number: 5
Enter the 2nd number: 5
Enter the 3rd number: 5
Greatest number:  5

In [12]:
def max_num(num1,num2,num3):
    if num1>num2 and num1>num3:
        return num1
    elif num2>num1 and num2>num3:
        return num2
    else: return num3
print(max_num(800,1200,1300))

1300

In [13]:
# Find the greatest of given 3 no.

a = int(input("Enter the 1st number: "))
b = int(input("Enter the 2nd number: "))
c = int(input("Enter the 3rd number: "))

if a>b and a>c:
    print(a)
elif b>a and b>c:
    print(b)
else: print(c)

Enter the 1st number: 5
Enter the 2nd number: 5
Enter the 3rd number: 5
5

In [14]:
# Nested IF

a = int(input("Enter the number: "))

if a>=0:
    if a==0:
        print("Zero")
    else: print("Positive number")
        
else: print("Negative number")

Enter the number: 5
Positive number

In [15]:
b = int(input("Enter the number: "))

if b>=0:
    if b==0:
        print("Zero")
    else: 
        print("Positive number")
else: 
    print("Negative number")

Enter the number: 5
Positive number

In [16]:
a = "Hello"
b = "Hi"
c = "Hey"

for i in range(1,101):
    
    if i>=30 and i<51:
        print(i,b)
       
    elif i>=70 and i<91:
        print(i,c)
       
    else: print(i,a)

1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
8 Hello
9 Hello
10 Hello
11 Hello
12 Hello
13 Hello
14 Hello
15 Hello
16 Hello
17 Hello
18 Hello
19 Hello
20 Hello
21 Hello
22 Hello
23 Hello
24 Hello
25 Hello
26 Hello
27 Hello
28 Hello
29 Hello
30 Hi
31 Hi
32 Hi
33 Hi
34 Hi
35 Hi
36 Hi
37 Hi
38 Hi
39 Hi
40 Hi
41 Hi
42 Hi
43 Hi
44 Hi
45 Hi
46 Hi
47 Hi
48 Hi
49 Hi
50 Hi
51 Hello
52 Hello
53 Hello
54 Hello
55 Hello
56 Hello
57 Hello
58 Hello
59 Hello
60 Hello
61 Hello
62 Hello
63 Hello
64 Hello
65 Hello
66 Hello
67 Hello
68 Hello
69 Hello
70 Hey
71 Hey
72 Hey
73 Hey
74 Hey
75 Hey
76 Hey
77 Hey
78 Hey
79 Hey
80 Hey
81 Hey
82 Hey
83 Hey
84 Hey
85 Hey
86 Hey
87 Hey
88 Hey
89 Hey
90 Hey
91 Hello
92 Hello
93 Hello
94 Hello
95 Hello
96 Hello
97 Hello
98 Hello
99 Hello
100 Hello

In [17]:
# Hi, Hello & Hey

a = "Hi"
b = "Hello"
c = "Hey"
d = "DR."

for i in range(1,101):
    if i>=25 and i<51:
        print(i,a,b,d)
    elif i>=75 and i<101:
        print(i,a,b,c,d)
    else: print(i,a,d)

1 Hi DR.
2 Hi DR.
3 Hi DR.
4 Hi DR.
5 Hi DR.
6 Hi DR.
7 Hi DR.
8 Hi DR.
9 Hi DR.
10 Hi DR.
11 Hi DR.
12 Hi DR.
13 Hi DR.
14 Hi DR.
15 Hi DR.
16 Hi DR.
17 Hi DR.
18 Hi DR.
19 Hi DR.
20 Hi DR.
21 Hi DR.
22 Hi DR.
23 Hi DR.
24 Hi DR.
25 Hi Hello DR.
26 Hi Hello DR.
27 Hi Hello DR.
28 Hi Hello DR.
29 Hi Hello DR.
30 Hi Hello DR.
31 Hi Hello DR.
32 Hi Hello DR.
33 Hi Hello DR.
34 Hi Hello DR.
35 Hi Hello DR.
36 Hi Hello DR.
37 Hi Hello DR.
38 Hi Hello DR.
39 Hi Hello DR.
40 Hi Hello DR.
41 Hi Hello DR.
42 Hi Hello DR.
43 Hi Hello DR.
44 Hi Hello DR.
45 Hi Hello DR.
46 Hi Hello DR.
47 Hi Hello DR.
48 Hi Hello DR.
49 Hi Hello DR.
50 Hi Hello DR.
51 Hi DR.
52 Hi DR.
53 Hi DR.
54 Hi DR.
55 Hi DR.
56 Hi DR.
57 Hi DR.
58 Hi DR.
59 Hi DR.
60 Hi DR.
61 Hi DR.
62 Hi DR.
63 Hi DR.
64 Hi DR.
65 Hi DR.
66 Hi DR.
67 Hi DR.
68 Hi DR.
69 Hi DR.
70 Hi DR.
71 Hi DR.
72 Hi DR.
73 Hi DR.
74 Hi DR.
75 Hi Hello Hey DR.
76 Hi Hello Hey DR.
77 Hi Hello Hey DR.
78 Hi Hello Hey DR.
79 Hi Hello Hey DR.
80 Hi Hello Hey DR.
81 Hi Hello Hey DR.
82 Hi Hello Hey DR.
83 Hi Hello Hey DR.
84 Hi Hello Hey DR.
85 Hi Hello Hey DR.
86 Hi Hello Hey DR.
87 Hi Hello Hey DR.
88 Hi Hello Hey DR.
89 Hi Hello Hey DR.
90 Hi Hello Hey DR.
91 Hi Hello Hey DR.
92 Hi Hello Hey DR.
93 Hi Hello Hey DR.
94 Hi Hello Hey DR.
95 Hi Hello Hey DR.
96 Hi Hello Hey DR.
97 Hi Hello Hey DR.
98 Hi Hello Hey DR.
99 Hi Hello Hey DR.
100 Hi Hello Hey DR.

In [18]:
list1 = ['a','b','c','d','e','f']
list1

['a', 'b', 'c', 'd', 'e', 'f']

In [19]:
list1[1:6]

['b', 'c', 'd', 'e', 'f']

In [20]:
list1[:]

['a', 'b', 'c', 'd', 'e', 'f']

In [21]:
list1[1:6:2]

['b', 'd', 'f']

In [22]:
list1[1:4:2]

['b', 'd']

In [23]:
list1[1:5:2]

['b', 'd']

In [24]:
list1[::-2]

['f', 'd', 'b']

In [25]:
str="Welcome"
str

'Welcome'

In [26]:
str[::-1]

'emocleW'

In [27]:
list(enumerate(str))

[(0, 'W'), (1, 'e'), (2, 'l'), (3, 'c'), (4, 'o'), (5, 'm'), (6, 'e')]

In [28]:
lst = ['c++','c','python','java','sql','tableau','julia']
print(lst)

['c++', 'c', 'python', 'java', 'sql', 'tableau', 'julia']

In [29]:
radius=r=20
Area = 3.14*(r**2)
print("The Area of the circle is",Area, "sq.cm")

The Area of the circle is 1256.0 sq.cm

In [30]:
import math

In [31]:
# FizzBuzz - if no. divisible by 3 then "Fizz", if no. divisible by 5 then "Buzz",
#if no. divisible by 3,5 then "Fizz Buz", else the number.

def FizzBuzz(num):
    if num%3 == 0 and num%5 == 0:
        print("FizzBuzz")
    elif num%3 == 0:
        print("Fizz")
    elif num%5 == 0:
        print("Buzz")
    else: return(num)

In [32]:
FizzBuzz(5)

Buzz

In [33]:
def sub(n,m):
    c = n-m
    return c

print(sub(5,8))

-3

In [34]:
# Factorial

y = int(input("Enter the number: "))
factorial=1
if y==0:
    print("Factorial is 1")
elif y<0:
    print("number must be positive")
else: 
    for i in range(1,y+1):
        factorial = factorial*i    
    print("factorial = ", factorial)

Enter the number: 5
factorial =  120

In [35]:
math.factorial(5)

120

In [36]:
for i in range(0,4):
    for j in range(1,5):
        print(i,j)

0 1
0 2
0 3
0 4
1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4

In [37]:
for i in range(0,4):
    for j in range(1,5):
        print(j,i)

1 0
2 0
3 0
4 0
1 1
2 1
3 1
4 1
1 2
2 2
3 2
4 2
1 3
2 3
3 3
4 3

In [38]:
import math

In [39]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [40]:
# Pi 

a = 6 

s = (4/3)*(math.pi)*(6**3)
print("Volume of Sphere is: ", s)

Volume of Sphere is:  904.7786842338603

In [41]:
List1 = [2,5,8,9,7,11,5,11,6,11]

x = List1.count(11)
print(x)

3

In [42]:
# Write a Python program to print all even numbers from a given numbers list in the same order and stop the printing if any numbers that come after 217 in the sequence. Go to the editorSample numbers list :

List3 = [399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,

815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,

958,743, 527]

for x in List3:
    if x==217:
        print(x)
        break;
    elif x%2==0:
        print(x)

162
758
918
412
566
826
248
866
950
626
217

In [43]:
# Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included)

lower = int(input("Enter the lower range: "))
upper = int(input("Enter the upper range: "))

for i in range(lower,upper+1):
    if (i%7==0 and i%5==0):
        print(i)

Enter the lower range: 5
Enter the upper range: 5

In [44]:
for x in range(6):
    if (x==3 or x==6):
        continue
    print(x,end=' ')
print("\n")

0 1 2 4 5

In [45]:
for x in range(6):
    if (x == 3 or x==6):
        continue
    print(x)
print("\n")

0
1
2
4
5

In [46]:
from datetime import time

In [47]:
from datetime import date
f_date = date(2014, 7, 2)
l_date = date(2014, 7, 11)
delta = l_date - f_date
print(delta.days, "days")

9 days

In [48]:
snacks = ['pizza', 'burger', 'franky', 'fries']
for x in snacks:
    print("current snacks: ", x)

current snacks:  pizza
current snacks:  burger
current snacks:  franky
current snacks:  fries

In [49]:
# sum and counter
n = int(input("Enter the number > 0 : "))
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i + 1
print("The sum is: ", sum)

Enter the number > 0 : 5
The sum is:  15

In [50]:
# Fibonacci series

x,y = 0,1

while y<50 :
    print(y, end=" ")
    x, y = y, x+y

1 1 2 3 5 8 13 21 34

In [51]:
x,y = 0,1

while y<50 :
    print(y)
    x, y = y, x+y

1
1
2
3
5
8
13
21
34

In [52]:
list8= ['Hi','Welcome']
list9= ['to', 'Python']

s = ' '.join(list8,)
t = ' '.join(list9)

r = s + " " + t
r

'Hi Welcome to Python'

In [53]:
# Write a Pandas program to select the specified columns and rows from a given data frame. Go to the editorSample Python dictionary data and list labels:

# Select 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.

import pandas as pd

import numpy as np

In [54]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']} 

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [55]:
print("Select specific columns & rows: ")
print(df.iloc[[1,3,5,6],[0,1]])

Select specific columns & rows:
      name  score
b     Dima    9.0
d    James    NaN
f  Michael   20.0
g  Matthew   14.5

In [56]:
df = pd.DataFrame(exam_data, index=labels)
print("Name & Scores: ")
print(df[['name','score']])

Name & Scores:
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [57]:
df = pd.DataFrame(exam_data, index=labels)
print("Attempts Greater than 2: ")
print(df[df['attempts']>2])

Attempts Greater than 2:
      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

In [60]:
from platform import python_version
python_version()

'3.9.12'

In [61]:
!jupyter --version

Selected Jupyter core packages...
IPython          : 8.2.0
ipykernel        : 6.9.1
ipywidgets       : 7.6.5
jupyter_client   : 6.1.12
jupyter_core     : 4.9.2
jupyter_server   : 1.13.5
jupyterlab       : 3.3.2
nbclient         : 0.5.13
nbconvert        : 6.4.4
nbformat         : 5.3.0
notebook         : 6.4.8
qtconsole        : 5.3.0
traitlets        : 5.1.1

In [62]:
!python --version

Python 3.10.5

In [63]:
#Various Operators in Python

a = int(input("Enter the 1st number: "))
b = int(input("Enter the 2nd number: "))

print("Addition: ")

Enter the 1st number: 5
Enter the 2nd number: 5
Addition: