## Set Theory

In [1]:
## Union
s1 = {1,2,3}
s2 = {3,4,5}

In [2]:
s1 | s2

{1, 2, 3, 4, 5}

In [3]:
s1.union(s2)

{1, 2, 3, 4, 5}

In [4]:
## Intersection
s1 = {1,2,3}
s2 = {3,4,5}

In [5]:
s1 & s2

{3}

In [6]:
s1.intersection(s2)

{3}

In [7]:
## Difference
s1 = {1,2,3,4,5,6}
s2 = {5,6,7}

In [8]:
s1-s2

{1, 2, 3, 4}

In [9]:
s1.difference(s2)

{1, 2, 3, 4}

In [10]:
s2-s1

{7}

In [11]:
## Symmetric difference
s1={1,2,3,4,5}
s2={4,5,6,7,8}

In [12]:
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [13]:
s1 = {1,2,3,4,5}
s2 = {1,2,3}

In [14]:
s2.issubset(s1)

True

# Regular expressions

In [15]:
import re

In [16]:
str1 = "Welcome to python session"

In [17]:
# Findall is used to return the no.of occurance of matched string in the given string
x = re.findall('e',str1)
x

['e', 'e', 'e']

In [18]:
y=re.findall('Welcome',str1)
y

['Welcome']

In [19]:
y=re.findall('abc',str1)
y

[]

In [20]:
# Search() method is used to display the matched string
x=re.search('e',str1)
x

In [21]:
x=re.search('python',str1)
x

In [22]:
x=re.search("abc",str1)
x

In [23]:
str1='Hello world'

In [24]:
z=re.split(" ",str1)
z

['Hello', 'world']

In [25]:
z=re.split("",str1)
z

['', 'H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', '']

In [26]:
str2='Hi Python Hello Analytics'

In [27]:
x=re.sub('Python','Analytics',str2)

In [28]:
x

'Hi Analytics Hello Analytics'

In [29]:
x=re.match('Hi',str2)
x

In [30]:
x=re.match("Hello",str2)
x

## Assigning values

In [31]:
# '=' is used for assignment
a,b,c = 1,'xyz',5.5
a,b,c

(1, 'xyz', 5.5)

In [32]:
## Multiple strings
a_str = 'This is a single line string'
a_str

'This is a single line string'

In [33]:
a_str1 = '''This is
a multiline
string'''
a_str1

'This is\na multiline\nstring'

In [34]:
print(a_str1)

This is
a multiline
string

## Getting input from users

In [35]:
name = input('Enter your name:')
name

Enter your name:deepak

'deepak'

In [36]:
age = input('Enter your age:')
age

Enter your age:25

'25'

In [37]:
age = int(input('Enter your age:'))
age

Enter your age:25

25

In [38]:
type(age)

int

## Print statement in python

In [39]:
print('Hello world')

Hello world

In [40]:
name1 = input('Enter your name:')
name1

Enter your name:deepak

'deepak'

In [41]:
print('Hello',name1)

Hello deepak

In [42]:
print(name,'is',age,'years old')

deepak is 25 years old

In [43]:
## Starndard way of using print statement
print('{0} is {1} years old'.format(name,age))

deepak is 25 years old

In [44]:
print(f'{name} is {age} years old') # f-string method

deepak is 25 years old

## Identity Operators

In [45]:
"i" == "Hi"

False

In [46]:
1 == 1

True

In [47]:
2 == 1

False

In [48]:
"hello" == "Hello"

False

In [49]:
1 == 0

False

In [50]:
1 != 0

True

In [51]:
"hi hello" != "hello hi"

True

In [52]:
a = 10
b = 10

In [53]:
a is b

True

In [54]:
a = 39999
b = 39999

In [55]:
a is b

False

In [56]:
a = 256
b = 256
a is b

True

In [57]:
a = 'hello'
b = 'hello'
a is b

True

In [58]:
a = 'Welcome to python'
b = 'Welcome to python'

In [59]:
a is b

False

## Conditional statements

In [60]:
# If
num = 5
if num > 0:
    print(num, "is a positive number.") 
print("This is always printed.")

5 is a positive number.
This is always printed.

In [61]:
# If else:
num = -5

if (num > 0):
    print("Positive")
else:
    print("Negative number")

Negative number

In [62]:
## Define a function with conditional statement

def max_num(num1,num2,num3):

    if num1 >= num2 and num1 >= num3:

        return num1

    elif num2 >= num1 and num2 >= num3:
        return num2

    else:
        return num3

print (max_num(400,60,1150))

1150

In [63]:
# Nested If
num = int(input("Enter a number: "))


if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Enter a number: 5
Positive number

##  For loop

In [64]:
# for Loop
# for each item in sequence , last item reached , no - body of loop , yes , exit loop


#Ex:1

snacks = ['pizza','burger','shawarma','franky']

for x in snacks:
    print("current snack: ", x)
print("Good day!")

current snack:  pizza
current snack:  burger
current snack:  shawarma
current snack:  franky
Good day!

In [65]:
#Ex:2

num = int(input("number: "))
factorial =1

if num < 0:
    print("must be positive")
elif num == 0:
    print("factorial = 1")
else:
    for i in range(1,num+1):
        factorial = factorial * i
    print("factorial =  " ,factorial)

number: 5
factorial =   120

In [66]:
#Nested for loop

for i in range(0,3):
    for j in range(0,3):
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [67]:
# For loop with else:
digits = [0, 1, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

0
1
5
No items left.

## While loop

In [68]:
# initialize sum and counter
n = 4
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter

# print the sum
print("The sum is", sum)

The sum is 10

In [69]:
# While loop with else
# Example to illustrate
# the use of else statement
# with the while loop

counter = 0

while counter < 3:
    print("Inside loop")
    counter = counter + 1
else:
    print("Inside else")

Inside loop
Inside loop
Inside loop
Inside else

In [70]:
#Ex: 1

count = 0

while count < 20:
    print("Digit: ", count)
    count = count + 1

print("Thank you")

Digit:  0
Digit:  1
Digit:  2
Digit:  3
Digit:  4
Digit:  5
Digit:  6
Digit:  7
Digit:  8
Digit:  9
Digit:  10
Digit:  11
Digit:  12
Digit:  13
Digit:  14
Digit:  15
Digit:  16
Digit:  17
Digit:  18
Digit:  19
Thank you

## Functions

In [71]:
def myfunc():
    print('Hello')

In [72]:
myfunc()

Hello

In [73]:
def myfunc(name):
    print('Hello',name)

In [74]:
myfunc('hi')

Hello hi

In [75]:
def squares(x):
    return x**2

In [76]:
squares(5)

25

## Lambda function

In [77]:
fn = lambda x : x**2

In [78]:
fn(4)

16

In [79]:
type(fn)

function

In [80]:
lst = ['c++','c','python','java','mysql123']
lst

['c++', 'c', 'python', 'java', 'mysql123']

In [81]:
lst.sort(key = lambda x: len(x))

In [82]:
lst

['c', 'c++', 'java', 'python', 'mysql123']