## Iterable

In [1]:
for x in [1,2,3]:
    print(x)

1
2
3

In [2]:
for y in (1,2,3):
    print(y)

1
2
3

In [3]:
for x in [1,2,3]:
    print(x)
    print('hi')

1
hi
2
hi
3
hi

In [4]:
for x in [1,2,3]:
    print(x)
print('hi')

1
2
3
hi

In [5]:
for x in [4,5,6]:
    print(x)

4
5
6

In [6]:
for list in [1,3,6]:
    print(list)

1
3
6

In [7]:
for y in 'hello':
    print(y)

h
e
l
l
o

In [8]:
list2 = [1,5.5,'hi']
list2

[1, 5.5, 'hi']

In [9]:
tup2 = [4,7.7,'hello']
tup2

[4, 7.7, 'hello']

In [10]:
str2 = 'hello 123'
str2

'hello 123'

## Sequence methods

In [11]:
list1=[1,3,3,4,9,8,7]
list1

[1, 3, 3, 4, 9, 8, 7]

In [12]:
3 in list1

True

In [13]:
10 in list1

False

In [14]:
10 not in list1

True

In [15]:
str1="Welcome to Python"
str1

'Welcome to Python'

In [16]:
'w' in str1

False

In [17]:
'W'in str1

True

In [18]:
'a' not in str1

True

## Concatenate

In [19]:
list1 + list2

[1, 3, 3, 4, 9, 8, 7, 1, 5.5, 'hi']

In [20]:
tup1 = (1,3,5)
tup2 = (4,5,6)

In [21]:
tup1 + tup2

(1, 3, 5, 4, 5, 6)

In [22]:
'abc' + 'xyz'

'abcxyz'

## Repitition

In [23]:
3 * 'abc'

'abcabcabc'

In [24]:
5 * tup1

(1, 3, 5, 1, 3, 5, 1, 3, 5, 1, 3, 5, 1, 3, 5)

In [25]:
3*list1

[1, 3, 3, 4, 9, 8, 7, 1, 3, 3, 4, 9, 8, 7, 1, 3, 3, 4, 9, 8, 7]

## Lenth,Min,Max

In [26]:
list1=[3,8,9,4,7,6,1,2]
list1

[3, 8, 9, 4, 7, 6, 1, 2]

In [27]:
len(list1)

8

In [28]:
min(list1)

1

In [29]:
max(list1)

9

In [30]:
list2=[11,13,17,19,21,27]
list2

[11, 13, 17, 19, 21, 27]

In [31]:
min(list2)

11

In [32]:
list3 = [1,5,5.5,9.9,10]
list3

[1, 5, 5.5, 9.9, 10]

In [33]:
min(list3)

1

In [34]:
max(list3)

10

In [35]:
len(list3)

5

## Index Position

In [36]:
str1='Welcome to Python'
str1

'Welcome to Python'

In [37]:
str1.index('W')

0

In [38]:
str1.index('l')

2

In [39]:
str1.index('o')

4

In [40]:
str1.index('e')

1

## Addition of elements

In [41]:
list1

[3, 8, 9, 4, 7, 6, 1, 2]

In [42]:
list1.append(10)
list1

[3, 8, 9, 4, 7, 6, 1, 2, 10]

In [43]:
list1.append([20,30])
list1

[3, 8, 9, 4, 7, 6, 1, 2, 10, [20, 30]]

In [44]:
list1.reverse()
list1

[[20, 30], 10, 2, 1, 6, 7, 4, 9, 8, 3]

In [47]:
tup1=(1,3,5,7,9)
tup1

(1, 3, 5, 7, 9)

In [48]:
list1

[[20, 30], 10, 2, 1, 6, 7, 4, 9, 8, 3]

In [49]:
list1.insert(3,55)
list1

[[20, 30], 10, 2, 55, 1, 6, 7, 4, 9, 8, 3]

In [50]:
#substituted 99 in place of 4
list1[4]= 99
list1

[[20, 30], 10, 2, 55, 99, 6, 7, 4, 9, 8, 3]

In [51]:
list1[1:3] = [55,66,77]
list1

[[20, 30], 55, 66, 77, 55, 99, 6, 7, 4, 9, 8, 3]

## Remove elements

In [52]:
list1

[[20, 30], 55, 66, 77, 55, 99, 6, 7, 4, 9, 8, 3]

In [53]:
del list1[5]
list1

[[20, 30], 55, 66, 77, 55, 6, 7, 4, 9, 8, 3]

In [54]:
del list1[2:3]
list1

[[20, 30], 55, 77, 55, 6, 7, 4, 9, 8, 3]

In [55]:
list1

[[20, 30], 55, 77, 55, 6, 7, 4, 9, 8, 3]

In [56]:
x = list1.pop(1)
x

55

In [57]:
list1

[[20, 30], 77, 55, 6, 7, 4, 9, 8, 3]

In [58]:
x = list1.pop()
x

3

In [59]:
x = list1.remove(9)
x

In [60]:
list1

[[20, 30], 77, 55, 6, 7, 4, 8]

In [61]:
list1.clear()
list1

[]

In [62]:
x=tup1.pop()
x

AttributeError: 'tuple' object has no attribute 'pop'

In [ ]:
tup1.clear()
tup1

## Reverse

In [ ]:
lst = [10,20,30,40,500,50,60,99,70,80,90,100]
lst

In [ ]:
lst.reverse()
lst

In [ ]:
lst

In [ ]:
lst = [10,20,30,77,11,40,50,60,70,99,80,90,100]

In [ ]:
lst[::-1] # This is applicable for all sequences,This will not change the original list

In [ ]:
lst

In [ ]:
lst[::-2]

## Sort

In [ ]:
lst3=[2,6,8,7,3,1]
lst3

In [ ]:
lst3.sort()
lst3

In [ ]:
lst3

In [ ]:
lst3.sort(reverse = True)
lst3

In [ ]:
list4 = ['c','c++','python','java','apple123']
list4

In [ ]:
list4.sort()
list4

In [ ]:
def myfunc(x):
    return len(x)

In [ ]:
list3.sort(key=myfunc)
list3

## Tuple

In [ ]:
tup = ([1,2,3,4],[5,6,7,8])

In [ ]:
tup[0]

In [ ]:
tup[0].append(44)
tup

## String

In [ ]:
my_str = "python"
my_str

In [ ]:
my_str.capitalize()

In [ ]:
my_str1 = "hello world"
my_str1.capitalize()

In [ ]:
my_str1.title()

In [ ]:
my_str1.lower()

In [ ]:
my_str1.upper()

In [ ]:
'PYTHON'.lower()

In [ ]:
'Python'.swapcase()

In [ ]:
'python'.endswith('on'), 'python'.endswith('ab')

In [ ]:
'python'.startswith('py'), 'python'.startswith('cd')

In [ ]:
my_str.startswith('Py'), my_str.startswith('py')

In [ ]:
my_str1 = 'pyttthon'
my_str1

In [ ]:
my_str1.find('t')

In [ ]:
my_str.find('a')

In [ ]:
help(my_str.find)

In [ ]:
str1 = 'python'
str1

In [ ]:
str1.isalpha(),str1.isalnum(),str1.isnumeric()

In [ ]:
str2 = '123'
str2.isalpha(),str2.isalnum(),str2.isnumeric()

In [ ]:
str5 ="Welcome to Data Science"
str5

In [ ]:
str5.isalnum(), str5.isalpha(), str5.isnumeric()

In [ ]:
str4 = "Welcome"
str4

In [ ]:
str4.isalpha(),str4.isalnum(),str4.isnumeric()

In [ ]:
str3 = 'hello'
str3

In [ ]:
# If the str has more variables, then is aplha, is alnum, is numeric does not work propoerly
str3.isalpha(),str3.isalnum(),str3.isnumeric()

In [ ]:
' '.isspace(), ''.isspace()

In [ ]:
'  python  '.strip()

In [ ]:
'   python    '.lstrip()

In [ ]:
'   python    '.rstrip()

In [ ]:
'1,2,3'.split(',')

In [ ]:
'ab;cd;ef'.split(';')

In [ ]:
# count() method returns the number of occurrences of the substring in the given string.
x = "Welcome to python basics"
x

In [ ]:
count1 = x.count("o")
count1

In [ ]:
# print count
print("The count is:", count1)

In [ ]:
# define string
string = "Python is awesome, isn't it"
string

In [ ]:
string[5]

In [63]:
string[6]

NameError: name 'string' is not defined

In [ ]:
string[25]

In [ ]:
substring = " "

In [ ]:
# count after first 'i' and before the last 'i'
count1 = string.count(substring, 4, 25)
count1

In [ ]:
# Replace 
x='It is very nice,it is excellent'
x

In [ ]:
y=x.replace("is","was")
y

In [ ]:
# Replaces was for 1st position only
y=x.replace('is','was',1)
y

In [ ]:
# Replaces was for 2nd position only
y=x.replace('is','was',2)
y

In [ ]:
x.replace("is","was",1)

## Variable unpacking

In [ ]:
x,y,z = [1,2,3]
x,y,z

In [ ]:
a,b,c = (5,6,7)
a,b,c

In [ ]:
x,y,z = 'abc'
x,y,z

## Dictionaries

In [ ]:
dict1 = {'Name':'shafi','Age':35}
dict1

In [ ]:
# Accessing values in a dictionary
dict1['Name']

In [ ]:
dict1['Age']

In [ ]:
## Updating dictionary
dict1['Name']='adam'
dict1

In [ ]:
# Adding values
dict1['location']= 'Bengalore'
dict1

In [ ]:
## Delete dictionary elements
del(dict1['Name'])

In [ ]:
dict1

In [ ]:
dict1.clear()

In [ ]:
dict1

In [ ]:
del(dict1)

## Sets

In [ ]:
## Sets have unique values
## Sets doesnot have positional ordering
s1 = {1,2,3,4}
s1

In [ ]:
s1[0]    # We can't access the elements with index

In [ ]:
s2 = {11,2,55,66,8,'hi'}
s2

In [ ]:
list1=[22,11,33,12,25]
list1

In [ ]:
for i in s2:
    print(i)

In [64]:
s1 = {}
type(s1)

dict

In [65]:
s1 = set()
type(s1)

set

In [66]:
len(s1)

0

In [67]:
s1 = {1,'a',(1,2),9.9} # it is taking only immutable data types
s1

{(1, 2), 1, 9.9, 'a'}

In [68]:
s3 = {1,[1,2,3],5.5,(1,3)} # it is not taking mutable data type_list
s3

TypeError: unhashable type: 'list'

In [69]:
s1 = set([10,33,4,5])
s1

{4, 5, 10, 33}

In [70]:
s2 = set((11,2,35,4))
s2

{2, 4, 11, 35}

In [71]:
s3 = set('python')
s3

{'h', 'n', 'o', 'p', 't', 'y'}

In [72]:
s4 = set('hiiiiiiiiiiii')
s4

{'h', 'i'}

## Range

In [73]:
for i in range(1,5):
    print(i)

1
2
3
4

In [74]:
s5 = set(range(1,11))
s5

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [75]:
b = "Hi"
a = "Hello"
c = "Hey"

for i in range(1,101):
    
    if i>=30 and i<51:
        print(i,b)
        
    elif i>=70 and i<91:
        print(i,c)
        
    else: print(i,a)

1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
8 Hello
9 Hello
10 Hello
11 Hello
12 Hello
13 Hello
14 Hello
15 Hello
16 Hello
17 Hello
18 Hello
19 Hello
20 Hello
21 Hello
22 Hello
23 Hello
24 Hello
25 Hello
26 Hello
27 Hello
28 Hello
29 Hello
30 Hi
31 Hi
32 Hi
33 Hi
34 Hi
35 Hi
36 Hi
37 Hi
38 Hi
39 Hi
40 Hi
41 Hi
42 Hi
43 Hi
44 Hi
45 Hi
46 Hi
47 Hi
48 Hi
49 Hi
50 Hi
51 Hello
52 Hello
53 Hello
54 Hello
55 Hello
56 Hello
57 Hello
58 Hello
59 Hello
60 Hello
61 Hello
62 Hello
63 Hello
64 Hello
65 Hello
66 Hello
67 Hello
68 Hello
69 Hello
70 Hey
71 Hey
72 Hey
73 Hey
74 Hey
75 Hey
76 Hey
77 Hey
78 Hey
79 Hey
80 Hey
81 Hey
82 Hey
83 Hey
84 Hey
85 Hey
86 Hey
87 Hey
88 Hey
89 Hey
90 Hey
91 Hello
92 Hello
93 Hello
94 Hello
95 Hello
96 Hello
97 Hello
98 Hello
99 Hello
100 Hello